# Supabase
EXPO_PUBLIC_SUPABASE_URL=https://ditt-prosjekt.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=din-anon-nøkkel

# Mapbox
EXPO_PUBLIC_MAPBOX_TOKEN=din-mapbox-token

# Sentry
EXPO_PUBLIC_SENTRY_DSN=https://xxx@yyy.ingest.sentry.io/zzz
